# mjr225.github.io

body {
    font-size: 14px;
    color: navy;
    font-family: arial, helvetica, sans-serif;
    background-color: #ffc;
    margin: 20px;
}

h1 {
    color: #ffc;
    background-color: #900;
    font-size: 2em;
    margin: 0;
    margin-bottom: 7px;
    padding: 4px;
    font-style: italic;
    text-align: center;
    letter-spacing: 0.5em;
    border-bottom-style: solid;
    border-bottom-width: 0.5em;
    border-bottom-color: #c00;
}
h2 {
    border-style: dashed;
    border-width: 3px;
    border-left-width: 10px;
    border-right-width: 10px;
    border-color: orange;
}
table {
    background-color: #ccc;
}
